.w {
  margin: 0 auto;
}
.banner-old-bj {
  height: 653px;
  background: url("../img/oldUser图片/1.jpg") no-repeat center;
}
.banner-old-bj .banner-old {
  position: relative;
}
.banner-old-bj .banner-old a {
  position: absolute;
  width: 194px;
  height: 44px;
  top: 547px;
  left: 75px;
}
.banner-huiyuan {
  position: relative;
  width: 1920px;
  height: 980px;
  background: url("../img/oldUser图片/2.jpg") no-repeat center;
}
.banner-huiyuan a {
  position: absolute;
  width: 194px;
  height: 44px;
  top: 919px;
  right: 414px;
}
.service {
  width: 100%;
  height: 288px;
  background-color: #101010;
}
.service .sv {
  position: relative;
  width: 1210px;
  height: 288px;
  background: url("../img/oldUser图片/3.jpg");
  margin: 0 auto;
}
.service .sv a {
  position: absolute;
}
.service .sv .box1 {
  width: 370px;
  height: 100px;
  left: 444px;
}
.service .sv .box2 {
  width: 390px;
  height: 100px;
  left: 820px;
}
.service .sv .box3 {
  width: 390px;
  height: 188px;
  top: 100px;
}
