.w {
  width: 1200px;
  margin: 0 auto;
}
.ablock {
  display: block;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
.banner {
  height: 800px;
  width: 100%;
  background: url("../img/玩家攻略/main_bgc.jpg") no-repeat center;
}
.title {
  height: 180px;
  width: 100%;
  background: url("../img/玩家攻略/大神开箱专区.jpg") no-repeat center;
}
.sales {
  width: 100%;
  height: 490px;
  background-color: #222222;
}
.sales .w {
  height: 100%;
  background: url("../img/玩家攻略/sales.jpg") no-repeat center;
}
.sales .w .left {
  float: left;
  width: 720px;
  height: 100%;
}
.sales .w .right {
  float: left;
  width: 480px;
  height: 100%;
}
.sales .w .right p {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
div.video {
  position: fixed;
  width: 800px;
  height: 500px;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -250px;
  display: none;
  z-index: 5;
}
div.video embed {
  height: 100%;
  width: 100%;
}
div.video span {
  position: absolute;
  height: 45px;
  width: 45px;
  right: -45px;
  top: 0;
  background: url("../img/玩家攻略/close.png") no-repeat center;
}
.exper {
  height: 582px;
  width: 100%;
  background: url("../img/玩家攻略/userexper.jpg") no-repeat center;
}
.exper .w {
  height: 100%;
  position: relative;
}
.exper .w .left-arr {
  margin-top: 100px;
  float: left;
  width: 100px;
  height: 400px;
  background: url(../img/玩家攻略/left_arrow.jpg) no-repeat center;
  cursor: pointer;
}
.exper .w .ex-bd {
  width: 1000px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  left: 100px;
  bottom: 25px;
}
.exper .w .ex-bd .move {
  width: 3000px;
  height: 100%;
  position: absolute;
}
.exper .w .ex-bd .move div {
  width: 333px;
  height: 100%;
  float: left;
  text-align: center;
}
.exper .w .right-arr {
  margin-top: 100px;
  float: right;
  width: 100px;
  height: 400px;
  background: url(../img/玩家攻略/right_arrow.jpg) no-repeat center;
  cursor: pointer;
}
.exper .w .c-show {
  background-color: rgba(0, 0, 0, 0.85);
  height: 467px;
  width: 1202px;
  position: absolute;
  left: -2px;
  bottom: 19px;
  z-index: 1;
  display: none;
}
.exper .w .c-show img {
  position: absolute;
  width: 552px;
  height: 419px;
  left: 50%;
  margin-left: -276px;
  top: 24px;
}
.exper .w .c-show span {
  width: 30px;
  height: 70px;
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
}
.note-banner {
  height: 340px;
  width: 100%;
  background-color: #222222;
}
.note-banner #m15 {
  height: 100%;
  background: url("../img/玩家攻略/m15.jpg") no-repeat center;
}
.spirit {
  width: 100%;
  height: 170px;
  background: url(../img/玩家攻略/信仰征集.jpg) no-repeat center;
}
.spirit-show {
  height: 1357px;
  width: 100%;
  background-color: #141414;
}
.spirit-show .w {
  height: 100%;
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
}
.spirit-show .w div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.spirit-show .w div div {
  cursor: pointer;
}
.spirit-show .w img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.spirit-show .w .left {
  width: 340px;
}
.spirit-show .w .left .p1 {
  height: 388px;
  background: url("../img/玩家攻略/letter_1.jpg") no-repeat;
}
.spirit-show .w .left .p2 {
  height: 227px;
  background: url("../img/玩家攻略/letter_2.jpg") no-repeat;
}
.spirit-show .w .left .p3 {
  height: 227px;
  background: url("../img/玩家攻略/letter_3.jpg") no-repeat;
}
.spirit-show .w .left .p4 {
  height: 455px;
  background: url("../img/玩家攻略/letter_4.jpg") no-repeat;
}
.spirit-show .w .mid {
  width: 398px;
}
.spirit-show .w .mid .p5 {
  height: 265px;
  background: url("../img/玩家攻略/letter_5.jpg") no-repeat;
}
.spirit-show .w .mid .p6 {
  height: 500px;
  background: url("../img/玩家攻略/letter_6.jpg") no-repeat;
}
.spirit-show .w .mid .p7 {
  height: 266px;
  background: url("../img/玩家攻略/letter_7.jpg") no-repeat;
}
.spirit-show .w .mid .p8 {
  height: 264px;
  background: url("../img/玩家攻略/letter_8.jpg") no-repeat;
}
.spirit-show .w .right {
  width: 400px;
}
.spirit-show .w .right .p9 {
  height: 294px;
  background: url("../img/玩家攻略/letter_9.jpg") no-repeat;
}
.spirit-show .w .right .p10 {
  height: 267px;
  background: url("../img/玩家攻略/letter_10.jpg") no-repeat;
}
.spirit-show .w .right .p11 {
  height: 268px;
  background: url("../img/玩家攻略/letter_11.jpg") no-repeat;
}
.spirit-show .w .right .p12 {
  height: 467px;
  background: url("../img/玩家攻略/letter_12.jpg") no-repeat;
}
.see-big {
  width: 800px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  display: none;
  top: 0;
  background-color: #222222;
  z-index: 6;
}
.see-big img {
  height: 532.8px;
  width: 100%;
}
.see-big p {
  font-size: 16px;
  padding: 25px 16px;
  line-height: 180%;
  color: #fff;
}
.see-big span {
  height: 45px;
  width: 45px;
  cursor: pointer;
  position: absolute;
  right: -45px;
  top: 5px;
  background: url("../img/玩家攻略/close.png") no-repeat center;
}
.note-banner {
  width: 100%;
  height: 340px;
  background-color: #141414;
}
.note-banner .w {
  height: 100%;
  background: url("../img/玩家攻略/51m游戏本.jpg") no-repeat center;
  position: relative;
}
.note-banner .w p {
  position: absolute;
  width: 500px;
  height: 48px;
  right: 163px;
  bottom: 60px;
}
.note-banner .w p span {
  float: left;
  font-size: 40px;
  color: #ac1c20;
}
.note-banner .w p a {
  float: right;
  display: block;
  height: 100%;
  text-align: center;
  overflow: hidden;
  width: 170px;
}
.news {
  height: 170px;
  width: 100%;
  background: url("../img/玩家攻略/资讯专区.jpg") no-repeat center;
}
.news-show {
  height: 1080px;
  width: 100%;
  background-color: #222222;
}
.news-show .w {
  height: 100%;
  position: relative;
}
.news-show .w ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 24px 10px;
}
.news-show .w ul li {
  width: 580px;
  height: 240px;
  padding: 20px 27px;
  position: relative;
}
.news-show .w ul li .masked {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.news-show .w ul li h3 {
  font: bold 20px "";
  line-height: 60px;
  color: white;
  position: relative;
  z-index: 1;
}
.news-show .w ul li P {
  font-size: 16px;
  line-height: 180%;
  color: #fff;
  position: relative;
  z-index: 1;
}
.news-show .w ul li h2 {
  position: absolute;
  right: 33px;
  bottom: 26px;
  width: 65px;
  height: 16px;
  background: url("../img/玩家攻略/IT168.png") no-repeat left center;
  z-index: 1;
  font-weight: normal;
}
.news-show .w ul li h2 span {
  margin-left: 25px;
  font-size: 16px;
  color: #fff;
}
.news-show .w ul li:nth-child(1) {
  background: url("../img/玩家攻略/bot-p1.jpg") no-repeat center;
}
.news-show .w ul li:nth-child(2) {
  background: url("../img/玩家攻略/bot-p2.jpg") no-repeat center;
}
.news-show .w ul li:nth-child(3) {
  background: url("../img/玩家攻略/bot-p3.jpg") no-repeat center;
}
.news-show .w ul li:nth-child(4) {
  background: url("../img/玩家攻略/bot-p4.jpg") no-repeat center;
}
.news-show .w ul li:nth-child(5) {
  background: url("../img/玩家攻略/bot-p5.jpg") no-repeat center;
}
.news-show .w ul li:nth-child(6) {
  background: url("../img/玩家攻略/bot-p6.jpg") no-repeat center;
}
.news-show .w ul li:nth-child(7) {
  background: url("../img/玩家攻略/bot-p7.jpg") no-repeat center;
}
.news-show .w ul li:nth-child(7) h2 {
  width: 130px;
  right: 20px;
}
.news-show .w ul li:nth-child(8) {
  background: url("../img/玩家攻略/bot-p8.jpg") no-repeat center;
}
.news-show .w ul li:nth-child(8) h2 {
  width: 130px;
  right: 20px;
}
